* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.Interlinear {
    line-height: 20px;
    margin-top: 20px;
}
.TítuloEncabezado{
    margin-bottom: 10px;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #83c5f7;
    font-family: sans-serif;
    padding: 90px 20px 0;
}

#logo {
    width: 75px;
    height: 80px;
    padding-top: 15px;
}
.header {
    background-color: #d3bcf6;
    height: 80px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    left: 0;
    z-index: 1030;
}

.nav {
    display: flex;
    justify-content: space-between;
    
    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 20px;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover, 
.nav-menu-link_active {
    background-color: #55c;
    transition: 0.5s;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

@media (max-width: 768px) {
    
    body {
        padding-top: 70px;
    }
    
    .header {
        height: 60px;
    }
    
    #logo {
        width: 55px;
        height: 55px;
    }
    .logo {
        font-size: 15px;
        font-weight: bold;
        padding: 0 20px;
        line-height: 60px;
    }
    
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #55c;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0,3s;
        }
    
    .nav-menu-item {
        line-height: 70px;
    }
    
    .nav-menu-link:hover,
        .nav-menu-link_active {
        background: none;
        color: #83c5f7;
    }
    
    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;

    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
}

#contenido-principal h2{
    text-align: center;
    color: #fff;
}
.card {
    position: relative;
    width: 350px;
    height: 500px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgb(0, 0, 0, .4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0, 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
}

/*pie de pagina*/
.pie-pagina{
    width: 100%;
    background-color: #d3bcf6;
    position: relative;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .red-social a{
    text-decoration: none;
    width: 10%;
    height: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    color: #fff;
    background-color: #d3bcf6;
    text-align: center;
    transition: all 300ms ease;
    margin: auto;
}
#e1{
    margin-left: 37.5%;
}
#e2{
    margin-right: 37.5%;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #55c;
}
.pie-pagina .grupo-2{
    background-color: #55c;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    
}